@{
    ViewBag.Title = "Form"; 
}

<
<input name="name" type="text" class="form-control" placeholder="Enter Name" />

<button id="updatebutton" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-save"></span></button>
<button id="cancelbtn" type="reset" class="btn btn-default"><span class="glyphicon glyphicon-eject"></span></button>
